
.secondpage{

    margin-top: 10px;


}

.thead-light{

    background-color: rgb(228, 222, 222,0.5);

    color:gray;

    font-size: small;

}

.page-link{

    border: none;

    border-radius: 10px;

    text-align: center;
}
.pagination{

   margin-top: 30px;

   margin-left: 40%;

}
.setmargin{
    height: 50px;
    font-size: 10px;
}