<div class="col-md-10">
    <h3>List Products</h3>
    <hr>
    <div class="column">
        <div class="card">
            <br>
            <span>
                <img src="{{product.image}}">
                <h3>{{product.title}}</h3>
                <p>{{product.description}}</p>
                <p>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <!-- <i class="fa fa-star-half-o" aria-hidden="true"></i> -->
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    &nbsp;
                   <!-- <i class="fa fa-usd" aria-hidden="true"> <b> 22.3</b> </i> &nbsp;
                    <del class="fa fa-usd" aria-hidden="true" style="font-size: medium; color: grey;">
                        <b style="font-size: medium; color: grey;"> 22.3</b>
                    </del> -->
                </p>
                <h5 class="card-text">$ {{product.price}}<small class="text-muted"> $ 28.3</small></h5>
            </span>
        </div>

    </div>

</div>